<div
  class="flex items-center pointer"
  [matMenuTriggerFor]="menu"
  aria-label="Información usuario"
>
  <img
    [src]="user.img"
    [alt]="user.name"
    width="40"
    height="40"
    class="photo mr-2"
  />
  <span>{{ user.name }}</span>
</div>

<mat-icon class="logout" title="Salir" (click)="logout()">logout</mat-icon>

<div>
  <mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span style="color: black">Configurar perfil</span>
    </button>
  </mat-menu>
</div>
